body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.link {
  text-decoration: none;
}
.web,
.nav:focus,
.nav:hover,
.link-contact:focus,
.link-contact:hover,
.white:focus,
.white:hover {
  color: #2196f3;
}
.link-contact,
.white {
  font-style: normal;
}
.ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.benefits-h {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #212121;
}
.benefits-p {
  color: #757575;
}
.nav {
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #000;
}
.tel {
  margin-right: 50px;
}

.link-contact {
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #757575;
}

.hero {
  padding-top: 17%;
  padding-right: 29%;
  padding-left: 29%;
  padding-bottom: 17%;
  text-align: center;
  color: #ffffff;
  background: #2f303a;
}
.header {
  padding-left: 13%;
  padding-right: 13%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom: Solid #ececec;
}
.head {
  margin-top: 25px;
  margin-bottom: 25px;
  flex-grow: 2;
  color: black;
}
.logo {
  margin-right: 45px;
  flex-grow: 0;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px #000;
}
.navbar {
  margin-top: 32px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: row;
  width: 281px;
  justify-content: space-between;
  flex-grow: 1;
}
.contacts {
  width: 281px;
  margin-top: 32px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  flex-grow: 1;
}
.hero-h {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button-hero {
  width: 216px;
  height: 50px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  border: none;
  background: #2196f3;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.benefits,
.products,
.team,
.menu,
.services {
  padding-right: 13%;
  padding-left: 13%;
  padding-bottom: 45px;
  padding-top: 45px;
}

.team {
  padding-bottom: 90px;
}

.benefits {
  margin-top: 94px;
}
.benefits-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.benefits-il {
  width: 270px;
}

.products-h {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}
.products-ul,
.team-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 45px;
}
.team-ul {
  margin-top: 45px;
}
.team {
  background: #f5f4fa;
}
.team-ul {
  flex-wrap: wrap;
}
.team-li {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
}
.portfolio {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.specialization {
  font-size: 16px;
  line-height: 1.9;
  color: #757575;
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #ffffff;
  background-color: #2f303a;
}
.white {
  color: #ffffff;
}
.logo-foot {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.menu {
  display: flex;
  justify-content: center;
}
.menu-button {
  padding: 6px 25px;
  margin-left: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: #212121;
  border: none;
}
.menu-button:hover,
.menu-button:focus {
  cursor: pointer;
  font-family: inherit;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.services-li {
  text-align: start;
  font-size: 16px;
  line-height: 1.9;
}

.portfolio,
.padding {
  padding-left: 24px;
  padding-right: auto;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.footer {
  padding-left: 13%;
  padding-top: 60px;
  padding-bottom: 60px;
}
.foot-contacts {
  margin-top: 20px;
  height: 81px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
