body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
}
.web,
.nav:focus,
.nav:hover,
.link-contact:focus,
.link-contact:hover,
.white:focus,
.white:hover {
  color: #2196f3;
}
.link-contact,
.white {
  font-style: normal;
}
ul {
  list-style: none;
}
.benefits-il > h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.benefits-il > p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: #757575;
}
.nav {
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #000;
}
.tel {
  margin-right: 50px;
}

.link-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
}

.hero {
  padding-top: 15%;
  padding-right: 25%;
  padding-left: 25%;
  padding-bottom: 15%;
  text-align: center;
  color: #ffffff;
  background: #2f303a;
}
header {
  padding: 0 13%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom: Solid #ececec;
}
.head {
  margin-top: 25px;
  margin-bottom: 25px;
  flex-grow: 2;
  color: black;
}
.logo {
  margin-right: 45px;
  flex-grow: 0;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px #000;
}
.navbar {
  margin-top: 32px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: row;
  width: 281px;
  justify-content: space-between;
  flex-grow: 1;
}
.contacts {
  width: 281px;
  margin-top: 32px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  flex-grow: 1;
}
h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button-hero {
  width: 216px;
  height: 50px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  border: none;
  background: #2196f3;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.benefits,
.products,
.team,
.menu,
.services {
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 45px;
  padding-top: 45px;
}

.team {
  padding-bottom: 90px;
}

.benefits {
  margin-top: 94px;
}
.benefits-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.benefits-ul > li {
  margin-left: 1%;
  margin-right: 1%;
  width: 270px;
}

.products > h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}
.products-ul,
.team-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 45px;
}
.team-ul {
  margin-top: 45px;
}
.team {
  background: #f5f4fa;
}
.team-ul {
  flex-wrap: wrap;
}
.team-ul > li {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
}
.portfolio {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}
.specialization {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}
footer {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #ffffff;
  background-color: #2f303a;
}
.white {
  color: #ffffff;
}
.logo-foot {
  padding-left: 40px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
.menu {
  display: flex;
  justify-content: center;
}
.menu-button {
  padding: 6px 25px;
  margin-left: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  border: none;
}
.menu-button:hover,
.menu-button:focus {
  cursor: pointer;
  font-family: inherit;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.services > li {
  margin: 15px 15px;
  text-align: start;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}
.services > h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}
.portfolio,
.padding {
  padding-left: 24px;
  padding-right: 24px;
}
.portfolio-none {
  display: none;
}

body {
  font-family: sans-serif;
  font-size: 36px;
  padding: 1rem;
}
/*  offset-x | offset-y | blur-radius | color  */
.one {
  color: blue;
  text-decoration: underline wavy;
  margin-bottom: 1rem;
  text-shadow: 3px 3px 2px hsla(0, 0%, 0%, 0.5);
}
.rings {
  color: orange;
  text-shadow: -15px -8px 0 blue, 14px -8px 0 black, 29px 0 0 green, 44px -8px 0 red;
}
